/*top/right/bottom/left*/

#container-page{
	width: 625px;
	height: 742px;
	border: 1px solid black;
	margin: 20px auto;
	
}

#container-top{
	width: 622px;
	height: 38px;
	border: 2px solid black;
	background-color: #adc8ff;
	font-family: arial;
	font-size: 22px;
	color: black;
	padding-top: 14px;
}

#container-middle{
	width: 623px;
	height: 657px;
	border: 1px solid black;
	background-color: white;
}


#create-box{
	margin: 50px auto;
	width: 600px;
	height: 150px;
	border: 2px solid black;
}

	#create-title{
	width: 593px;
	height: 22px;
	border: 1px solid black;
	background-color: #d5e1f2;
	font-family: arial;
	font-size: 14px;
	color: black;
	padding-top: 8px;
	padding-left: 5px;
	}

	#bet-table{
		position: relative;
		left:20px;
		top: 20px;
		width: 250px;
		height: 50px;
		/*border: 1px solid black;*/
		font-family: arial;
		}

	#bet-form{
		position: relative;
		left:20px;
		top: 20px;
		font-family: arial;
		font-size: 12px;
		
	}

	#bet-outcomes{
		font-family: arial;
		font-size: 12px;
	}



#footer-content{
	width: 623px;
	height: 25px;
	border: 1px solid black;
	font: verdana;
	background-color: #adc8ff;
}


















