
<html>

	<head>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'infomarket/create.css' %}" />
	
	</head>

	<title> Information Market</title>

	<body background="https://s16.postimg.org/3kz9r1h5x/27360875_Abstract_black_and_white_binary_code_ba.jpg">
		<div id="container-page">
			<div id="container-top">
			&nbsp;&nbsp;THE INFORMATION MARKET - Create Bet
			</div>

			<div id="container-middle">
				
				<div id="create-box">
					<div id="create-title"> Enter a Question & Two Possible Outcomes
					</div>

					<form action="" method="post" id="create-form">
						  <input id="yourbet" placeholder="Enter Bet Here" type="text" name="question"><br><br>
						  <input type="text" name="outcome-a" id="outcome" placeholder="Enter First Outcome"><br>
						  <input type="text" name="outcome-b" id="outcome" placeholder="Enter Second Outcome"><br><br>
						  <input type="submit" value="Submit">
					</form>

				</div>

			</div>

			<div id="footer-content"></div>

		</div>

	</body>

</html>