
<html>

	<head>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'infomarket/index.css' %}" />
	
	</head>

	<title> Information Market</title>

	<body background="https://s16.postimg.org/3kz9r1h5x/27360875_Abstract_black_and_white_binary_code_ba.jpg">
		<div id="container-page">
			<div id="container-top">
			&nbsp;&nbsp;Welcome to THE INFORMATION MARKET
			</div>

			<div id="container-middle">
				
				<div id="create-bet-button">
					<a href="{% url 'create' %}"> Create Bet </a>
				</div>



				<div id="bet-box">

					{% if latest_question_list %}
					    <ul>
					    {% for question in latest_question_list %}
					        <li>{{ question.question_text }} &nbsp&nbsp<a href="/infomarket/{{ question.id }}/place">Place Bet</a></li><br>
					        {% for choice in question.choice_set.all %}
					        	{{choice.choice_text}}: {{choice.chance_to_win}}% <br>
					        		<!-- {% for bet in choice.bet_set.all %}
					        			{{bet}} <br>
					        		{% endfor %} -->
					        {% endfor %}
					        <br>	
					    {% endfor %}
					    </ul>
					{% else %}
					    <p>No bets are available.</p>
					{% endif %}

						<script>

						// var abcd = [
						
						// 	'<div id="bet-question">',
						// 	'{% if latest_question_list %}',
						// 	    '{% for question in latest_question_list %}',
						// 	        ' {{ question.question_text }}', 
						// 	    '{% endfor %}',
						// 	'{% else %}',
						// 	    '<p>No polls are available.</p>',
						// 	'{% endif %}',
						// 	'</div>',
						// 	].join('');	

// var cars = 'Saab,Volvo,BMW,GMC,Nissan,Ford'.split(',');
// http://stackoverflow.com/questions/21947237/convert-a-django-queryset-into-an-array

						// var cars = ["{{ l_question_list }}"];
						// document.write(cars)
						// document.write(cars.length)
						// for (var c in cars) {
						//     var newElement = document.createElement('div');
						//     newElement.id = "bet-box";

						//     newElement.innerHTML = abcd;
						//     document.getElementById('container-middle').appendChild(newElement);
						// 	} 

						</script>
				

					<!-- <div id="bet-box">
					<div id="bet-question">
						&nbsp;> Will the S&P500 end 2016 above 2100 points?
					</div>

					<table id="bet-table">
						<tr>
							<td>• Yes</td>
							<td>59%</td>
						</tr>
						<tr>
							<td>• No</td>
							<td>41%</td>
						</tr>
					</table>

					<div id="place-bet-button">
						<a href="{% url 'login' %}"> Place Bet </a>
					</div>
				
				</div> -->


				</div>


			</div>

			<div id="footer-content"></div>

		</div>

	</body>

</html>































