
<html>

	<head>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'infomarket/login.css' %}" />
	
	</head>

	<title> Information Market</title>

	<body background="https://s16.postimg.org/3kz9r1h5x/27360875_Abstract_black_and_white_binary_code_ba.jpg">
		<div id="container-page">
			<div id="container-top">
			&nbsp;&nbsp;THE INFORMATION MARKET - Register
			</div>

			<div id="container-middle">
				
				<div id="login-box">
					<div id="login-title">
						&nbsp;&nbsp;&nbsp;&nbsp;Please Register
					</div>


					<form action="" method="post" id="login-form" >
						  First name: <input type="text" name="firstname"><br><br>
						  Last name: <input type="text" name="lastname">    <input type="submit" value="Submit" >
					</form>

				</div>

			</div>

			<div id="footer-content">
					
			</div>

		</div>

	</body>

</html>