<html>

	<head>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'infomarket/place.css' %}" />
	
	</head>

	<title> Information Market</title>

	<body background="https://s16.postimg.org/3kz9r1h5x/27360875_Abstract_black_and_white_binary_code_ba.jpg">
		<div id="container-page">
			<div id="container-top">
			&nbsp;&nbsp;THE INFORMATION MARKET - Place Bet
			</div>

			<div id="container-middle">
				
				<div id="create-box">
					
					<div id="create-title">{{ question.question_text }}
					</div>

<!-- 					<form action="" method="post" id="bet-form">
						Democratic Party: <input type="text" name="amount-a" placeholder="USD Amount"> <br>
						Republican Party: <input type="text" name="amount-b" placeholder="USD Amount"> <br><br>
						<input type="submit" value="Submit">
					</form> -->

					<!-- <h1>{{ question.question_text }}</h1> -->

					<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->

					<form action="{% url 'place' question.id %}" method="post">
					{% csrf_token %}
					{% for choice in question.choice_set.all %}
						<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    					<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
					{% endfor %} <br>
					&nbsp Name: <input type="text" name="bet_user_name"/> <br><br>
					&nbsp<input type="submit" value="Bet $10"  /><br><br>
					&nbsp&nbsp<a href="{% url 'index' %}">Back to Home </a> 	
					</form>

				</div>

			</div>

			<div id="footer-content"></div>

		</div>

	</body>

</html>


<!-- https://s17.postimg.org/4kfvof8q7/27360875_Abstract_black_and_white_binary_code_ba.jpg -->