
<html>

	<head>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'infomarket/place.css' %}" />
	
	</head>

	<title> Information Market</title>

	<body background="https://s16.postimg.org/3kz9r1h5x/27360875_Abstract_black_and_white_binary_code_ba.jpg">
		<div id="container-page">
			<div id="container-top">
			&nbsp;&nbsp;THE INFORMATION MARKET - Place Bet
			</div>

			<div id="container-middle">
				
				<div id="create-box">
					<div id="create-title"> Which party will win the White House in 2020?
					</div>

					<form action="demo_form.asp" id="bet-form">
						<input type="checkbox" name="vehicle" value="Bike"> Democratic Party<br>
						<input type="checkbox" name="vehicle" value="Car" checked> Republican Party<br><br>
						<input type="submit" value="Submit">
					</form>

				</div>

			</div>

			<div id="footer-content"></div>

		</div>

	</body>

</html>


<!-- https://s17.postimg.org/4kfvof8q7/27360875_Abstract_black_and_white_binary_code_ba.jpg -->